.primary-colour{
  background-color: mediumslateblue;
}


.navbar-logo {
  max-height: 11cqh; /* Adjust based on your navbar height */
  width: auto; /* This ensures the logo maintains its aspect ratio */
  
}
@media (max-width: 768px) {
  .navbar-logo {
    max-height: 50px; /* Smaller logo on smaller screens */
  }
}

.custom-navbar {
  background-color: mediumslateblue !important; /* Bootstrap primary blue for example */
  height: 11cqh;
  justify-content: center;
  text-align: center;    
  display: flex;
  align-items: center;
  width: 100%
}

.detail-circle:hover, .story-circle:hover {
  transform: scale(1.1);
}

